adjusttext==1.3.0
airr==1.5.1
anndata==0.12.6
array-api-compat==1.12.0
biopython==1.86
blosc2==3.12.2
certifi==2025.11.12
cffi==2.0.0
changeo==1.3.4
charset-normalizer==3.4.4
contourpy==1.3.3
cycler==0.12.1
distance==0.1.3
donfig==0.8.1.post1
fonttools==4.61.0
google-crc32c==1.7.1
h5py==3.15.1
idna==3.11
igraph==1.0.0
importlib-resources==6.5.2
iniconfig==2.3.0
jinja2==3.1.6
joblib==1.5.2
kiwisolver==1.4.9
legacy-api-wrap==1.5
leidenalg==0.8.8
llvmlite==0.45.1
markupsafe==3.0.3
matplotlib==3.10.7
mizani==0.13.1
more-itertools==10.8.0
msgpack==1.1.2
natsort==8.4.0
ndindex==1.10.1
networkx==3.6.1
numba==0.62.1
numcodecs==0.16.5
numexpr==2.14.1
numpy==2.3.5
nxviz==0.7.6
packaging==25.0
palettable==3.3.3
pandas==2.3.3
patsy==1.0.2
pillow==12.0.0
pip==25.0.1
platformdirs==4.5.1
plotnine==0.14.5
pluggy==1.6.0
polyleven==0.9.0
presto==0.7.6
py-cpuinfo==9.0.0
pycparser==2.23
pygments==2.19.2
pynndescent==0.5.13
pyparsing==3.2.5
pytest==9.0.2
python-dateutil==2.9.0.post0
python-igraph==1.0.0
pytz==2025.2
pyyaml==6.0.3
receptor-utils==0.0.61
requests==2.32.5
rpy2==3.6.4
rpy2-rinterface==3.6.3
rpy2-robjects==3.6.3
# sc-dandelion @ git+https://www.github.com/zktuong/dandelion.git@70f164257c74df0642211cddc6af876ef8843e96
scanpy==1.11.5
scikit-learn==1.7.2
scipy==1.16.3
seaborn==0.13.2
session-info2==0.2.3
setuptools==80.9.0
setuptools-scm==9.2.2
six==1.17.0
statsmodels==0.14.6
tables==3.10.2
tbb==2022.3.0
tcmlib==1.4.1
texttable==1.7.0
threadpoolctl==3.6.0
tqdm==4.67.1
typing-extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
umap-learn==0.5.9.post2
urllib3==2.6.1
yamlordereddictloader==0.4.2
zarr==3.1.5